
body {
    margin: 0;
}

.diapositiva1 {
    background-color: blue;
    height: 100vh;
}


.diapositiva2 {
    background-color: red;
    height: 100vh;
}


.diapositiva3 {
    background-color: pink;
    height: 100vh;
}


.diapositiva4 {
    background-color: orange;
    height: 100vh;
}

.pic {
    height: 18em;
}